/*CONFIGURAÇÃO DA PAGINA INTEIRA*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* CAIXA PRINCIPAL - PRIMEIRA DIV */
.caixa-principal {
  height: 100vh;
  width: 100%;
  background-image: url(./imagens/background.png);
  background-position: right;                           /*posicionar a imagem*/
  background-repeat: no-repeat;
  background-color: #202020;                   /*primeira imagem do site*/
}

/*ESTILIZAR O MENU DE NAVEGAÇÃO */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
}

/* ESTILIZAR O NOME PORTIFOLIO */
.portifolio {
  color: #ffffff;
  font-size: 30px;
  font-weight: 900;
}
.portifolio span {
  color: #7B68EE;
}

/*ESTILIZAR A LISTA DO MENU DE NAVEGAÇÃO */
li {
  color: #ffffff;
  list-style: none;                       /*remover os pontinhos do lado da lista*/
  display: inline-block;             /*deixa os nomes do menu um ao lado do outro*/
  font-size: 21px;
  margin-right: 16px;
  cursor: pointer;                     /*efeito de quando passar o mouse em cima ficar a mãozinha*/
}

/*EFEITO DE QUANDO PASSAR O MOUSE EM CIMA DA PALAVRA ELA MUDAR DE COR*/
li:hover {
  color: #7B68EE;
  transition: 0.5s;
}

/*ESTILIZAR OS NOMES DO MENU*/
.link-menu {
  text-decoration: none;
  color: white;
}

/*POSICIONAR MEU NOME*/
.meu-nome {
  position: absolute;
  top: 50%;
  left: 7%;
}

/*ESTILIZAR MEU NOME */
h1 {
  color: white;
  font-size: 50px;
}

h1 span {
  color: #7B68EE;
}

/* ESTILIZAR O NOME "PROGRAMADORA FRON END"*/
.meu-nome h3 {
  color: white;
  font-size: 20px;
}

/*ESTILIZAR O FUNDO DO SOBRE MIM*/
section {
  display: flex;
  align-items: center;
  padding: 60px 15%;
  background-color: #3a393b;
}

/*ESTILIZAR MINHA IMAGEM*/
section img {
  height: 500px;
  border-radius: 100%;
  margin-right: 10%;
}

/*ESTILIZAR O NOME SOBRE MIM*/
section div h2 {
  color: white;
  font-size: 55px;
}

/*ESTILIZAR O TEXTO DO SOBRE MIM*/
section div p {
   color: white;
   font-size: 18px;
   margin-top: 30px;
   margin-bottom: 60px;
}

/*ESTILIZAR O BOTÃO ENTRE EM CONTATO*/
section div button {
   color: white;
   background: #7B68EE;
   height: 45px;
   width: 180px;
   font-size: 18px;
   border: none;
   border-radius: 25px;
   cursor: pointer;
}

/*EFEITO DE PASSAR O MOUSE E MUDAR DE COR*/
section div button:hover {
   background-color:  #72ddf7;
   border: 3px solid #202020;
   transition: 0.5s;
}

/* COR DE FUNDO ONDE FICA OS PROJETOS*/
.projetos {
  background-color: #131212;
  padding-top: 50px;
   padding-bottom: 100px;
}

/*ESTILIZAR O NOME "PRINCIPAIS PROJETOS*/
.projetos h2 {
  color: rgb(248, 245, 245);
  font-size: 75px;
  text-align: center; 
}

/* COR DO QUADRADO ONDE FICA OS PROJETOS*/
.card {
  background-color: #474747;
  height: 365px;
  width: 335px;
  border-radius: 20px;
  padding: 20px 35px;
  text-align: center;
}

/*IMAGEM MARIO*/
.card img {
  height: 100px;
}
 /*ESTILIZAR O NOME MARIO*/
 .card h5 {
  color: white;
  font-size: 24px;
}

/*ESTILIZAR O PARAGRAFO DO PROJETO MARIO*/
.card p {
  color: #f8f8fa ;
  margin-top: 20px;
  margin-bottom: 30px;
}

/*ESTILIZAR O BOTÃO "VER PROJETO" DO MARIO*/
.card a {
  background-color: #7B68EE;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.card a:hover {
  background-color: transparent;
  border: 2px solid #ffffff;
}

/*AJUSTAR OS CARDS DOS PROEJTOS*/
.card-projetos {
  display: flex;
  justify-content: space-around;
  margin: 100px;
}

footer {
  background-color: #7B68EE;
  padding-top: 100px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer h5 {
  color: white;
  font-size: 30px;
}

footer p {
  color: white;
  font-size: 18px;
  margin-top: 14px;
  margin-bottom: 30px;
}

.social {
  display: flex;
  gap: 20px;
}

.social img {
  height: 35px;
  border-radius: 50%;
}

.social a {
  background-color: white;
  border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 50px;
 width: 50px;
 cursor: pointer;
}

/*ESFEITO DE PASSARO MOUSE E O ICONE AUMENTAR*/
.social a:hover {
  transform: scale(1.3);
  transition: 0.5s;
}